[package]
name = "ethers-providers"
license = "MIT OR Apache-2.0"
version = "0.2.2"
authors = ["Georgios Konstantopoulos <me@gakonst.com>"]
edition = "2018"
description = "Provider implementations for the ethers-rs crate"
homepage = "https://docs.rs/ethers"
repository = "https://github.com/gakonst/ethers-rs"
keywords = ["ethereum", "web3", "celo", "ethers"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
ethers-core = { version = "0.2.2", path = "../ethers-core", default-features = false }

async-trait = { version = "0.1.50", default-features = false }
hex = { version = "0.4.3", default-features = false, features = ["std"] }
reqwest = { version = "0.11.3", default-features = false, features = ["json", "rustls-tls"] }
serde = { version = "1.0.124", default-features = false, features = ["derive"] }
serde_json = { version = "1.0.64", default-features = false }
thiserror = { version = "1.0.24", default-features = false }
url = { version = "2.2.1", default-features = false }
auto_impl = { version = "0.4.1", default-features = false }

# required for implementing stream on the filters
futures-core = { version = "0.3.12", default-features = false }
futures-util = { version = "0.3.14", default-features = false }
futures-timer = { version = "3.0.2", default-features = false }
futures-channel = { version = "0.3.13", default-features = false }
pin-project = { version = "1.0.7", default-features = false }

# tracing
tracing = { version = "0.1.25", default-features = false }
tracing-futures = { version = "0.2.5", default-features = false, features = ["std-future"] }

# tokio
tokio = { version = "1.5", default-features = false, optional = true }
tokio-tungstenite = { version = "0.13.0", default-features = false, features = ["connect", "tls"], optional = true }
tokio-util = { version = "0.6.7", default-features = false, features = ["io"], optional = true }
bytes = { version  = "1.0.1", default-features = false, optional = true }

[dev-dependencies]
ethers = { version = "0.2", path = "../ethers" }
tokio = { version = "1.5", default-features = false, features = ["rt", "macros"] }
tempfile = "3.2.0"

[features]
default = ["ws", "ipc"]
celo = ["ethers-core/celo"]
ws = ["tokio", "tokio-tungstenite"]
ipc = ["tokio", "tokio/io-util", "tokio-util", "bytes"]
