[package]
name = "examples-middleware"
version = "2.0.0"
authors = ["Andrea Simeoni <andreasimeoni84@gmail.com>"]
edition = "2021"

[dev-dependencies]
ethers = { path = "../..", version = "2.0.0", features = ["rustls", "ws"] }

async-trait = { version = "0.1.50", default-features = false }
eyre = "0.6"
serde_json = "1.0.61"
thiserror = { version = "1.0", default-features = false }
tokio = { version = "1.18", features = ["macros", "rt", "rt-multi-thread"] }

