[package]
name = "ethers-contract-derive"
version = "0.2.2"
authors = ["Nicholas Rodrigues Lordello <nlordell@gmail.com>", "Georgios Konstantopoulos <me@gakonst.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
description = "Proc macro for type-safe bindings generation to Ethereum and Celo smart contracts"
homepage = "https://docs.rs/ethers"
repository = "https://github.com/gakonst/ethers-rs"
keywords = ["ethereum", "web3", "celo", "ethers"]

[lib]
proc-macro = true

[dependencies]
ethers-core = { version = "0.2.2", path = "../../ethers-core" }
ethers-contract-abigen = { version = "0.2.2", path = "../ethers-contract-abigen" }

serde_json = "1.0.53"

proc-macro2 = "1.0"
quote = "1.0"
syn = "1.0.12"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
