[package]
name = "ethers-core"
license = "MIT OR Apache-2.0"
version = "0.4.6"
authors = ["Georgios Konstantopoulos <me@gakonst.com>"]
edition = "2018"
description = "Core structures for the ethers-rs crate"
homepage = "https://docs.rs/ethers"
repository = "https://github.com/gakonst/ethers-rs"
keywords = ["ethereum", "web3", "celo", "ethers"]

[dependencies]
rlp = { version = "0.5.0", default-features = false }
ethabi = { version = "14.1.0", default-features = false }
arrayvec = { version = "0.7.1", default-features = false }
rlp-derive = { version = "0.1.0", default-features = false }

# crypto
ecdsa = { version = "0.12.3", default-features = false, features = ["std"] }
elliptic-curve = { version = "0.10.5", default-features = false }
generic-array = { version = "0.14.4", default-features = false }
k256 = { version = "0.9.5", default-features = false, features = ["keccak256", "ecdsa"] }
rand = { version = "0.8.4", default-features = false }
tiny-keccak = { version = "2.0.2", default-features = false }

# misc
serde = { version = "1.0.124", default-features = false, features = ["derive"] }
serde_json = { version = "1.0.64", default-features = false }
thiserror = { version = "1.0.26", default-features = false }
glob = { version = "0.3.0", default-features = false }
bytes = { version = "1.0.1", features = ["serde"] }
hex = { version = "0.4.3", default-features = false, features = ["std"] }

# async
tokio = { version = "1.5", default-features = false, optional = true}
futures-util = { version = "0.3.16", optional = true }

[dev-dependencies]
ethers = { version = "0.4.0", path = "../ethers" }

serde_json = { version = "1.0.64", default-features = false }
bincode = { version = "1.3.3", default-features = false }
once_cell = { version = "1.8.0" }
hex-literal = "0.3.3"
futures-util = { version = "0.3.16" }

[features]
celo = [] # celo support extends the transaction format with extra fields
setup = ["tokio", "futures-util"] # async support for concurrent setup

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
