[package]
name = "ethers-core"
license = "MIT OR Apache-2.0"
version = "0.2.0"
authors = ["Georgios Konstantopoulos <me@gakonst.com>"]
edition = "2018"
description = "Core structures for the ethers-rs crate"
homepage = "https://docs.rs/ethers"
repository = "https://github.com/gakonst/ethers-rs"
keywords = ["ethereum", "web3", "celo", "ethers"]

[dependencies]
# ethereum related
ethereum-types = { version = "0.11.0", default-features = false }
rlp = { version = "0.5.0", default-features = false }
ethabi = { package = "ethabi-next", version = "13.1.0", default-features = false }
arrayvec = { version = "0.5.1", default-features = false }

# crypto
ecdsa = { version = "0.10.2", default-features = false, features = ["std"] }
elliptic-curve = { version = "0.9.3", default-features = false }
generic-array = { version = "0.14.4", default-features = false }
k256 = { version = "0.7.2", default-features = false, features = ["keccak256", "ecdsa"] }
rand = { version = "0.7.1", default-features = false }
tiny-keccak = { version = "2.0.2", default-features = false }

# misc
serde = { version = "1.0.123", default-features = false, features = ["derive"] }
serde_json = { version = "1.0.62", default-features = false }
thiserror = { version = "1.0.24", default-features = false }
glob = { version = "0.3.0", default-features = false }
bytes = { version = "1.0.1", features = ["serde"] }
hex = { version = "0.4.2", default-features = false, features = ["std"] }

# bitvec compilation issue
# https://github.com/bitvecto-rs/bitvec/issues/105#issuecomment-778570981
funty = "=1.1.0"


[dev-dependencies]
ethers = { version = "0.2", path = "../ethers" }

serde_json = { version = "1.0.62", default-features = false }
bincode = { version = "1.2.1", default-features = false }
once_cell = { version = "1.5.2" }


[features]
celo = [] # celo support extends the transaction format with extra fields

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
