[package]
name = "ethers-core"
license = "MIT OR Apache-2.0"
version = "0.1.3"
authors = ["Georgios Konstantopoulos <me@gakonst.com>"]
edition = "2018"
description = "Core structures for the ethers-rs crate"
homepage = "https://docs.rs/ethers"
repository = "https://github.com/gakonst/ethers-rs"
keywords = ["ethereum", "web3", "celo", "ethers"]

[dependencies]
# ethereum related
ethereum-types = { version = "0.9.2", default-features = false, features = ["serialize"] }
rlp = { version = "0.4.5", default-features = false }
ethabi = { package = "ethabi-next", version = "12.0.0", default-features = false }
arrayvec = { version = "0.5.1", default-features = false }

# crypto
ecdsa = { version = "0.8.0", features = ["std"] }
elliptic-curve = { version = "0.6.1", features = ["arithmetic"] }
generic-array = "0.14.4"
k256 = { git = "https://github.com/RustCrypto/elliptic-curves", version = "0.5.2", features = ["keccak256", "ecdsa"] }
rand = "0.7.2"
tiny-keccak = { version = "2.0.2", default-features = false }
sha2 = { version = "0.9.1" }

# misc
serde = { version = "1.0.110", default-features = false, features = ["derive"] }
serde_json = { version = "1.0.53", default-features = false, features = ["alloc"] }
rustc-hex = { version = "2.1.0", default-features = false }
thiserror = { version = "1.0.15", default-features = false }
glob = "0.3.0"

[dev-dependencies]
ethers = { version = "0.1.3", path = "../ethers" }

serde_json = { version = "1.0.53", default-features = false }
bincode = "1.2.1"

[features]
celo = [] # celo support extends the transaction format with extra fields

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
