[package]
name = "ethers"
version = "0.1.0"
authors = ["Georgios Konstantopoulos <me@gakonst.com>"]
edition = "2018"
readme = "README.md"
documentation = "https://docs.rs/ethers"
repository = "https://github.com/gakonst/ethers-rs"
homepage = "https://docs.rs/ethers"
description = """
Complete Ethereum library and wallet implementation in Rust.
"""

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[package.metadata.playground]
features = ["full"]

[features]
abigen = ["contract", "ethers-contract/abigen"]
default = ["full"]
full = [
    "contract",
    "providers",
    "signers",
    "core",
]

core = ["ethers-core"]
contract = ["ethers-contract"]
providers = ["ethers-providers"]
signers = ["ethers-signers"]

[dependencies]
ethers-contract = { version = "0.1.0", path = "../ethers-contract", optional = true }
ethers-core = { version = "0.1.0", path = "../ethers-core", optional = true }
ethers-providers = { version = "0.1.0", path = "../ethers-providers", optional = true }
ethers-signers = { version = "0.1.0", path = "../ethers-signers", optional = true }

[dev-dependencies]
ethers-contract = { version = "0.1.0", path = "../ethers-contract", features = ["abigen"] }

anyhow = "1.0.31"
rand = "0.7"
serde = { version = "1.0.110", features = ["derive"] }
serde_json = "1.0.53"
tokio = { version = "0.2.21", features = ["macros"] }
