[package]
name = "ethers"
version = "0.2.2"
authors = ["Georgios Konstantopoulos <me@gakonst.com>"]
license = "MIT OR Apache-2.0"
edition = "2018"
readme = "../README.md"
documentation = "https://docs.rs/ethers"
repository = "https://github.com/gakonst/ethers-rs"
homepage = "https://docs.rs/ethers"
description = """
Complete Ethereum library and wallet implementation in Rust.
"""

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[package.metadata.playground]
features = ["full"]

[features]
celo = [
    "ethers-core/celo",
    "ethers-providers/celo",
    "ethers-signers/celo",
    "ethers-contract/celo",
    "ethers-middleware/celo",
]

ledger = ["ethers-signers/ledger"]
yubi = ["ethers-signers/yubi"]
ws = ["ethers-providers/ws"]
abigen = ["ethers-contract/abigen"]

[dependencies]
ethers-contract = { version = "0.2.2", path = "../ethers-contract" }
ethers-core = { version = "0.2.2", path = "../ethers-core", features = ["setup"] }
ethers-providers = { version = "0.2.2", path = "../ethers-providers" }
ethers-signers = { version = "0.2.2", path = "../ethers-signers" }
ethers-middleware = { version = "0.2.2", path = "../ethers-middleware" }

[dev-dependencies]
ethers-contract = { version = "0.2", path = "../ethers-contract", features = ["abigen"] }

anyhow = "1.0.40"
rand = "0.7"
serde = { version = "1.0.124", features = ["derive"] }
serde_json = "1.0.64"
tokio = { version = "1.4", features = ["macros", "rt-multi-thread"] }
