[package]
name = "ethers-signers"
license = "MIT OR Apache-2.0"
version = "0.2.2"
authors = ["Georgios Konstantopoulos <me@gakonst.com>"]
edition = "2018"
description = "Signer implementations for the ethers-rs crate"
homepage = "https://docs.rs/ethers"
repository = "https://github.com/gakonst/ethers-rs"
keywords = ["ethereum", "web3", "celo", "ethers"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
ethers-core = { version = "0.2.2", path = "../ethers-core" }
thiserror = { version = "1.0.24", default-features = false }

coins-ledger = { version = "0.1.0", default-features = false, optional = true }
eth-keystore = { version = "0.2.0" }
hex = { version = "0.4.3", default-features = false, features = ["std"] }
async-trait = { version = "0.1.40", default-features = false }
elliptic-curve = { version = "0.9.6", default-features = false }
sha2 = { version = "0.9.3", default-features = false }
rand = { version = "0.7.3", default-features = false }
yubihsm = { version = "0.38.0", features = ["secp256k1", "http", "usb"], optional = true }
futures-util = "0.3.13"
futures-executor = "0.3.13"

[dev-dependencies]
ethers = { version = "0.2", path = "../ethers" }
yubihsm = { version = "0.38.0", features = ["secp256k1", "usb", "mockhsm"] }

tempfile = "3.2.0"
tokio = { version = "1.4", default-features = false, features = ["macros"] }
serde_json = { version = "1.0.64", default-features = false }

[features]
celo = ["ethers-core/celo"]
ledger = ["coins-ledger"]
yubi = ["yubihsm"]
