[package]
name = "examples-wallets"
version = "0.0.0"
publish = false
authors = ["Andrea Simeoni <andreasimeoni84@gmail.com>"]

license.workspace = true
rust-version.workspace = true
edition.workspace = true

[features]
default = ["ledger", "trezor", "yubi"]
ledger = ["ethers/ledger"]
trezor = ["ethers/trezor"]
yubi = ["ethers/yubi"]

[dev-dependencies]
ethers = { workspace = true, features = ["abigen", "eip712", "ws", "rustls"] }

tokio = { workspace = true, features = ["macros"] }

serde.workspace = true
serde_json.workspace = true

eyre.workspace = true
