[package]
name = "ethers-solc"
version = "0.1.0"
authors = ["Matthias Seitz <matthias.seitz@outlook.de>", "Georgios Konstantopoulos <me@gakonst.com>"]
license = "MIT OR Apache-2.0"
edition = "2018"
readme = "../README.md"
documentation = "https://docs.rs/ethers"
repository = "https://github.com/gakonst/ethers-rs"
homepage = "https://docs.rs/ethers"
description = """
Utilites for working with solc
"""
keywords = ["ethereum", "web3", "solc", "solidity", "ethers"]

[dependencies]
ethers-core = { version = "^0.5.0", path = "../ethers-core", default-features = false }
serde_json = "1.0.68"
serde = { version = "1.0.130", features = ["derive"] }
semver = "1.0.4"
walkdir = "2.3.2"
tokio = { version = "1.12.0", default-features = false, features = ["process", "io-util", "fs"],  optional = true }
futures-util = { version = "0.3.17", optional = true }
once_cell = "1.8.0"
regex = "1.5.4"
md-5 = "0.9.1"
thiserror = "1.0.30"
hex = "0.4.3"
colored = "2.0.0"
svm = { package = "svm-rs", git = "https://github.com/roynalnaruto/svm-rs", optional = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
home = "0.5.3"

[dev-dependencies]
tokio = { version = "1.12.0", features = ["full"] }
tempdir = "0.3.7"

[features]
async = ["tokio", "futures-util"]
full = ["async", "svm"]
tests = []
