name: deps

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]
    schedule: [cron: "00 00 * * *"]

jobs:
    cargo-deny:
        name: cargo deny check
        runs-on: ubuntu-latest
        timeout-minutes: 30
        steps:
            - uses: actions/checkout@v3
            - uses: EmbarkStudios/cargo-deny-action@v1
              with:
                  command: check all
